body {
  font-family: "Josefin Sans", sans-serif;
  background-image:linear-gradient(135deg, #FFF, #FFF5F5);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 35px 0 100px 0;
  font-size: 1rem;
  color: #CE9797;
  margin: 0;
  width: 100%;
}

/* LOGO SECTION - MOBILE */

.logo-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
  padding-bottom: 35px;
}

.logo-div img{
  width: 35%;
}

/* HERO IMAGE SECTION - MOBILE */

.image-div  {
  background-image: url("../images/hero-mobile.jpg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  height: 250px;
  width: 100%;
}

/* TEXT SECTION - MOBILE */

.text-div {
  display: flex;
  justify-content: center;
  align-items: center;

}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85%;
  padding-top: 30px;
}

h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2.75em;
  text-align: center;
  line-height: 1.2em;
  margin-bottom: 0;
  letter-spacing: .25em;
}

h1 span {
  font-weight: 600;
  color: #413A3A;
}

p {
  text-align: center;
  line-height: 1.6em;
  font-size: .92em;
}

/* EMAIL INPUT SECTION - MOBILE */

.email-validator {
  border: 1px solid rgba(206, 151, 151, .5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 30px;
  margin-top: 25px;
}

.email-validator input {
  padding: 15px 20px 15px 20px;
  border-radius: 30px;
  border: none;
  background: none;
}

.email-validator input::placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1em;
  color: #CE9797;
  opacity: .5;
}

button {
  background-image: url("../images/icon-arrow.svg"), linear-gradient(#F8BFBF, #EE8C8C);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  padding: 25px 35px;
  border-radius: 25px;
  border: none;
  margin-top: -1px;
  background-color: linear-gradient(135deg, #F8BFBF, #EE8C8C);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

button:hover {
  cursor: pointer;
}

.validate-message {
  color: #ff6769;
  text-align: left;
  width: 90%;
  font-size: .8em;
}

.active {
  border: 1px solid  #ff6769;
}

.hide {
  display: none;
}

/*------ TABLET STYLING ------- */

@media (min-width: 700px) {

  body {
    background-image: url("../images/bg-pattern-desktop.svg");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: auto auto;
    padding: 0;
  }



  .logo-div {
    grid-column-start:1;
    grid-column-end: 2;
    padding: 50px 0 50px 80px;
  }

  .logo-div img {
    width: 32%;
  }

  h1 {
    text-align: left;
    padding-left: 50px;
  }

  p {
    width: 75%;
    text-align: left;
    padding-top: 25px;
  }

  .image-div {
    background-image: url("../images/hero-desktop.jpg");
    background-size: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end: 3;
    order: 2;
    height: 100%;
  }

  .text-div {
    grid-column-start: 1;
    grid-column-end: 2;
    order: 1;
    margin-bottom: 100px;
  }

  .email-validator {
    width: 82%;
  }

  .validate-message {
    width: 75%;
    padding-top: 0;
  }

}
